.journal-setup-instructions {
  padding-top: 3px;
  padding-bottom: 3px;
}
.setup-container {
  background-color: lightgray;
  border: 1px solid black;
}

.setup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.journal-setup-items {
  margin: 5px;
  /* width: 100%; */
}
