body * {
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Merriweather Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #13242a;
  /* font-family: "Quicksand", sans-serif; */
}
h1,
h2 {
  /* font-family: "Lora", serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Asap", sans-serif;
}

.App {
  /* background-image: url(./images/forest-background.svg); */
  background-image: url(./images/forest-background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.app-nav {
  height: 100vh;
  position: absolute;
  background-color: #13242a;
  overflow-x: hidden;
  padding-top: 20px;
  color: #dfdac6;
}

.app-nav {
  right: 0;
  width: 150px;
  max-width: 0;
  transition: max-width 1s;
  left: unset;
  top: 80px;
  z-index: 1500;
}

#active {
  max-width: 150px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: calc(100% - 79px);
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcfdfd;
  border: 1px solid #050b00;
  padding: 10px;
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 75%;
  background-color: #ebeced;
}

button {
  background-color: #d7f2ba;
  color: #13242a;
  border: 1px solid rgba(73, 120, 23, 0.8);
  margin: 10px;
  text-align: center;
  padding: 10px 20px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
button:hover {
  /* color: rgba(255, 255, 255, 1); */
  background-color: #91db43;
  box-shadow: 0 5px 15px rgba(73, 120, 23, 0.4);
}

a {
  text-decoration: none;
  color: #13242a;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

.link {
  color: #703c90;
  padding-bottom: 10px;
}
.link:hover {
  color: #3358ff;
  font-weight: 500;
}
.nav-button {
  text-decoration: none;
  background: #b084cc;
  border: 1px solid #8648ad;
  margin: 10px;
  text-align: center;
  padding: 15px 40px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  background: #8648ad;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(21, 81, 74, 0.4);
}
fieldset {
  text-align: center;
  width: 100%;
  border: none;
}
label {
  color: #13242a;
  font-weight: 500;
}
form {
  margin: 5px;
  padding: 10px;
}
input,
select {
  display: block;
  margin: 5px auto;
  padding: 5px;
}
.error-message {
  color: #d7431d;
}

.validationError {
  font-size: 16px;
  color: #d7431d;
}

@media screen and (min-width: 737px) {
  p {
    padding: 15px;
    font-size: 22px;
  }
  .form-container {
    width: 65%;
    padding: 50px;
  }
}
