.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  height: 80px;
}

.logo-container {
  width: 65px;
  height: 55px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: white;
}

.app-name {
  color: #e6e6e6;
}
/* Having trouble making this icon larger! */
.menu-icon {
  color: #e6e6e6;
  margin-right: 50px;
}

.login-link {
  color: #e6e6e6;
  padding-right: 20px;
  font-size: 25px;
  padding-right: 40px;
}
